# 컨테이너(Container)
여러 개의 값을 저장할 수 있는 것(~~객체~~)

- 시퀀스(Sequence)형: 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형: 순서가 없는(unordered) 데이터

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아니다.**

### 특징
1. 순서를 가질 수 있다.

2. **특정 위치의 데이터를 가리킬 수 있다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 따로 다루지는 않습니다.


## 리스트(`list`)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 리스트를 만들어봅시다.

In [1]:
l = []
ll = list()
print(type(l))
print(type(ll))
arr = [0]*10
print(arr)

<class 'list'>
<class 'list'>
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 원소를 포함한 리스트를 만들어봅시다.

In [ ]:
numbers = [1,3,5,7,9]

In [ ]:
# 첫번째 값에 접근해봅시다.

In [ ]:
numbers[3]

7

## 튜플(`tuple`)

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(불변, immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.

In [ ]:
# 아래와 같이 만들 수 있습니다.

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다.
# 앞선 2. 변수 및 자료형 예제에서 사용된 코드입니다.

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [ ]:
# 빈 튜플은 빈 괄호 쌍으로 만들어집니다.

In [ ]:
# 하나의 항목으로 구성된 튜플은 값 뒤에 쉼표를 붙여서 만듭니다.

## 레인지(`range()`)

`range` 는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.

In [ ]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.

In [ ]:
# 4 ~ 8까지의 숫자를 담은 range를 만들어봅시다.

In [ ]:
# 0부터 -9까지 담긴 range를 만들어봅시다.


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x `in` s	|containment test|
|x `not in` s|containment test|
|s1 `+` s2|concatenation|
|s `*` n|n번만큼 반복하여 더하기
|`s[i]`|indexing|
|`s[i:j]`|slicing|
|`s[i:j:k`]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [ ]:
# containment test를 확인해봅시다.

In [ ]:
# concatenation(연결, 연쇄)를 해봅시다.

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.

In [ ]:
# 두번째, 세번째 값만 가져와봅시다.

In [ ]:
# 0부터 30까지의 숫자를 3씩 증가시킨 리스트로 만들어봅시다.

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.

In [ ]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.

# 비 시퀀스형(Non-sequence) 컨테이너

- 셋(set)

- 딕셔너리(dictionary)

## `set`

`set`은 순서가 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리된다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없다.

* 빈 집합을 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능.)

### 활용법
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [10]:
set_a = {1,2,3}
set_b = {3,6,9}

print(set_a - set_b) #차집합
print(set_a | set_b) #합집합
print(set_a & set_b) #교집합

{1, 2}
{1, 2, 3, 6, 9}
{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

In [11]:
set_c = {1,1,1,1,1}
print(set_c)

{1}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.

In [6]:
my_list = [1,5,1,2,1,1,3,8]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 5, 8}

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.

In [7]:
list(my_set)

[1, 2, 3, 5, 8]

## `dictionary`

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조이다. 


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

### 활용법

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수도 있다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능하다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.

In [12]:
dict_a = dict()
dict_b = {}

print(type(dict_a), type(dict_b))

<class 'dict'> <class 'dict'>

In [ ]:
# dictionary는 중복된 key는 존재할 수가 없습니다.

In [14]:
dict_a = {'역삼':'좋아' , '역삼': '싫어', '잠실':'더좋아'}
print(dict_a)

{'역삼': '싫어', '잠실': '더좋아'}

In [ ]:
# 지역번호(서울-02 경기-031)가 담긴 전화번호부를 만들어봅시다.

In [1]:
phone_book = {
    '서울':'02', 
    '경기':'031'
}
print(phone_book)

{'서울': '02', '경기': '031'}

In [ ]:
# 딕셔너리의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [2]:
phone_book.keys()

dict_keys(['서울', '경기'])

In [21]:
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [22]:
phone_book.values()

dict_values(['02', '031'])

In [23]:
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [24]:
phone_book.items()

dict_items([('서울', '02'), ('경기', '031')])

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# list를 형 변환 해봅시다

In [ ]:
# tuple을 형 변환 해봅시다

In [ ]:
# range를 형 변환 해봅시다

In [ ]:
# set을 형 변환 해봅시다

In [ ]:
# dictionary를 형 변환 해봅시다

## 데이터의 분류 (*중요*!) 
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

단일 데이터들

- **숫자(Number)**
- **글자(String)**
- **참/거짓(Bool)**

그리고

```python
range(), tuple(), frozenset()
```

In [25]:
a = '승엽님'
print(a)

승엽님

In [29]:
# immutable 데이터의 복사는 어떻게 이루어질까?
num1 = 20
num2 = num1
print(id(num2))

num2 = 10
print(id(num2))

#num2 = num1 
#num2 = 10

print(num1)
print(num2)

140707315941024
140707315940704
20
10

In [30]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

컨테이너 (~~`tuple`, `range()`, `frozenset`~~)

- `list`
- `dict`
- `set`
- 사용자가 만든 데이터 타입

In [35]:
# mutable 데이터의 복사는 어떻게 이루어질까?
num1 = [1, 2, 3, 4]
print(id(num1))

num2 = num1
print(id(num2))

num2[0] = 100

print(num1)
print(num2)

1759697683464
1759697683464
[100, 2, 3, 4]
[100, 2, 3, 4]

In [33]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=num1%20%3D%20%5B1,%202,%203,%204%5D%0Anum2%20%3D%20num1%0Anum2%5B0%5D%20%3D%20100%0A%0Aprint%28num1%29%0Aprint%28num2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>